<dl>
    <dt>Name:</dt><dd><%= show :name %></dd>
    <dd><%= image_tag @content_block.headshot.url %></dd>  
    <dt>Bio:</dt><dd><%= show :bio %></dd>
    <dt>Available Books:</dt>
    <dd><ul>
        <%= render partial: 'book_stock_status' %>
    </ul></dd>  
</dl>

<% if @content_block.books.count > 1 %>
  <hr>
  <h2><%= "Additional Books by #{@content_block.name}" %></h2>
  <ul>
    <% @content_block.books.each do |book| %>
      <% if !book.in_stock? %>
        <li><%= link_to book.name, main_app.book_slug_path(book.slug) %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>