<dl>
    <dt>Name:</dt><dd><%= show :name %></dd>
    <dd><%= image_tag @content_block.headshot.url %></dd>  
    <dt>Bio:</dt><dd><%= show :bio %></dd>
    <dt>Available Books:</dt>
    <dd><ul>
        <%= render 'book_stock_status', books: @content_block.books.for_sale %>
    </ul></dd>  
</dl>

<% if @content_block.books.count > 1 %>
  <hr>
  <h2><%= "Additional Books by #{@content_block.name}" %></h2>
  <ul>
    <%= render 'book_stock_status', books: @content_block.books.not_for_sale %>
  </ul>
<% end %>