<dl>
    <dt>Name:</dt><dd><%= show :name %></dd>
    <dt>Author:</dt>
    <dd><ul>
      <% @content_block.authors.each do |author| %>
        <li><%= link_to author.name, main_app.author_slug_path(author.slug) %></li>
      <% end %>
    </ul></dd>
    <dt>Cover:</dt><dd><%= link_to "Cover", attachment_path_for(@content_block.cover) %></dd>
        <dt>In Stock:</dt><dd><%= show :in_stock %></dd>
        <dt>Price:</dt><dd><%= show :price %></dd>
        <dt>Genres:</dt>
          <dd>
          <% @content_block.genres.each do |g| %>
            <li><%= g.name %></li>
          <% end %> 
          </dd>
        <dt>Description:</dt><dd><%= show :description %></dd>
</dl>

<% unless @content_block.authors.all?{|author| author.books.count <= 1} %>
  <hr>
  <h3>More by this author</h3>
  <% @content_block.authors.each do |author| %>
    <% author.books.each do |book| %>
      <% unless book == @content_block %>
        <li><%= link_to book.name, book.slug %>
          <% if book.in_stock? %>
            - buy now
          <% end %>        
        </li>
      <% end %>  
    <% end %>
  <% end %>
<% end %>

<hr>
<%= render_portlet "By Genre" %>